
.button, .list, .form, .input, .messages, .textarea, .ulList, .messages, .p {
    margin: 20px;
}

.button, .textarea {
    border-radius: 10px;
}
.button { width: 115px;}

.button-success {
    background: #3FBF7F;
}

.button-secondary {
    background: #D0FADE;
}

.textarea {
    width: 210px;
    height: 150px;
    padding: 5px;
    background: #FAF3D0;
}

.ulList {
    width: 200px;
    height: 220px;
    border: 2px solid rgba(0,0,0, .2);
}

.li {
    list-style-type: none;
    padding: 10px;
}

.messages {
    padding: 10px;
    width: 200px;
    height: 220px;
    border: 2px solid rgba(0,0,0, .2);
}
