.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button, .list, .input, .messages, .textarea {
    margin: 20px;
}